* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #2c2348, #000000);
  padding: 10px;
}

.todo_app {
  width: 100%;
  max-width: 540px;
  background: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo_app h2 {
  color: rgb(28, 14, 59);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
 
}
.todo_app h2 img {
  width: 40px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #6b5b9a;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 30px;
  outline: none;
  background: transparent;
  color: white;
}

::placeholder {
  color: white;
}

button {
  padding: 10px 50px;
  border: none;
  border-radius: 30px;
  background: #240657;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
button:hover {
  background: #6717e8;
}
button:active {
  background: #240657;
}

ul li{
    list-style: none;
    font-size:17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    top: 8px;
    left: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(./img/unchecked.png);
    background-size: cover;
    background-position: center;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(./img/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    text-align: center;
    line-height: 40px;
}
ul li span:hover{
    color: red;
    background: #dbdbdb ;
    border-radius: 50%;
}